<!-- footer content -->
                        <footer>
                            <div class="">
                                <p class="pull-right">Gentelella Alela! a Bootstrap 3 template by <a>Kimlabs</a>. |
                                    <span class="lead"> <i class="fa fa-paw"></i> Gentelella Alela!</span>
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </footer>
                    <!-- /footer content -->
                </div>
            <!-- /page content -->
        </div>
    </div>

    <!-- page end -->
        <div id="custom_notifications" class="custom-notifications dsp_none">
            <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
            </ul>
            <div class="clearfix"></div>
            <div id="notif-group" class="tabbed_notifications"></div>
        </div>
    <!-- /page end -->

    <!-- JAVASCRIPTS -->
        
        <!-- bootstrap -->
            <script src="js/bootstrap.min.js"></script>

        <!-- chart js -->
            <script src="js/chartjs/chart.min.js"></script>
        
        <!-- bootstrap progress js -->
            <script src="js/progressbar/bootstrap-progressbar.min.js"></script>
            <script src="js/nicescroll/jquery.nicescroll.min.js"></script>
        
        <!-- icheck -->
            <script src="js/icheck/icheck.min.js"></script>
        
        <!-- gauge js -->
            <script type="text/javascript" src="js/gauge/gauge.min.js"></script>
            <script type="text/javascript" src="js/gauge/gauge_demo.js"></script>
        
        <!-- sparkline -->
            <script src="js/sparkline/jquery.sparkline.min.js"></script>

        <!-- custom -->
            <script src="js/custom.js"></script>
        
        <!-- skycons (for weather widget)--> 
            <script src="js/skycons/skycons.min.js"></script>

        <!-- flot js -->
            <script type="text/javascript" src="js/flot/jquery.flot.js"></script>
            <script type="text/javascript" src="js/flot/jquery.flot.pie.js"></script>
            <script type="text/javascript" src="js/flot/jquery.flot.orderBars.js"></script>
            <script type="text/javascript" src="js/flot/jquery.flot.time.min.js"></script>
            <script type="text/javascript" src="js/flot/date.js"></script>
            <script type="text/javascript" src="js/flot/jquery.flot.spline.js"></script>
            <script type="text/javascript" src="js/flot/jquery.flot.stack.js"></script>
            <script type="text/javascript" src="js/flot/curvedLines.js"></script>
            <script type="text/javascript" src="js/flot/jquery.flot.resize.js"></script>
        
        <!-- pace -->
            <script src="js/pace/pace.min.js"></script>
    
        <!-- flot -->
            <script>
                //random data
                var d1 = [
                [0, 1], [1, 9], [2, 6], [3, 10], [4, 5], [5, 17], [6, 6], [7, 10], [8, 7], [9, 11], [10, 35], [11, 9], [12, 12], [13, 5], [14, 3], [15, 4], [16, 9]
                ];

                //flot options
                var options = {
                    series: {
                        curvedLines: {
                            apply: true,
                            active: true,
                            monotonicFit: true
                        }
                    },
                    colors: ["#26B99A"],
                    grid: {
                        borderWidth: {
                            top: 0,
                            right: 0,
                            bottom: 1,
                            left: 1
                        },
                        borderColor: {
                            bottom: "#7F8790",
                            left: "#7F8790"
                        }
                    }
                };
                var plot = $.plot($("#placeholder3xx3"), [{
                    label: "Visits",
                    data: d1,
                    lines: {
                        fillColor: "rgba(150, 202, 89, 0.12)"
                    }, //#96CA59 rgba(150, 202, 89, 0.42)
                    points: {
                        fillColor: "#fff"
                    }
                        }], options);
            </script>
        <!-- /flot -->
        
        <!--  -->
            <script>
                $('document').ready(function () {
                    $(".sparkline_one").sparkline([2, 4, 3, 4, 5, 4, 5, 4, 3, 4, 5, 6, 7, 5, 4, 3, 5, 6], {
                        type: 'bar',
                        height: '40',
                        barWidth: 9,
                        colorMap: {
                            '7': '#a1a1a1'
                        },
                        barSpacing: 2,
                        barColor: '#26B99A'
                    });

                    $(".sparkline_two").sparkline([2, 4, 3, 4, 5, 4, 5, 4, 3, 4, 5, 6, 7, 5, 4, 3, 5, 6], {
                        type: 'line',
                        width: '200',
                        height: '40',
                        lineColor: '#26B99A',
                        fillColor: 'rgba(223, 223, 223, 0.57)',
                        lineWidth: 2,
                        spotColor: '#26B99A',
                        minSpotColor: '#26B99A'
                    });

                    var doughnutData = [
                        {
                            value: 30,
                            color: "#455C73"
                        },
                        {
                            value: 30,
                            color: "#9B59B6"
                        },
                        {
                            value: 60,
                            color: "#BDC3C7"
                        },
                        {
                            value: 100,
                            color: "#26B99A"
                        },
                        {
                            value: 120,
                            color: "#3498DB"
                        }
                ];
                    var myDoughnut = new Chart(document.getElementById("canvas1").getContext("2d")).Doughnut(doughnutData);


                })
            </script>
        <!--  -->

        <!-- datepicker -->
            <script type="text/javascript">
                $(document).ready(function () {

                    var cb = function (start, end, label) {
                        console.log(start.toISOString(), end.toISOString(), label);
                        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                        //alert("Callback has fired: [" + start.format('MMMM D, YYYY') + " to " + end.format('MMMM D, YYYY') + ", label = " + label + "]");
                    }

                    var optionSet1 = {
                        startDate: moment().subtract(29, 'days'),
                        endDate: moment(),
                        minDate: '01/01/2012',
                        maxDate: '12/31/2015',
                        dateLimit: {
                            days: 60
                        },
                        showDropdowns: true,
                        showWeekNumbers: true,
                        timePicker: false,
                        timePickerIncrement: 1,
                        timePicker12Hour: true,
                        ranges: {
                            'Today': [moment(), moment()],
                            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                            'This Month': [moment().startOf('month'), moment().endOf('month')],
                            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                        },
                        opens: 'left',
                        buttonClasses: ['btn btn-default'],
                        applyClass: 'btn-small btn-primary',
                        cancelClass: 'btn-small',
                        format: 'MM/DD/YYYY',
                        separator: ' to ',
                        locale: {
                            applyLabel: 'Submit',
                            cancelLabel: 'Clear',
                            fromLabel: 'From',
                            toLabel: 'To',
                            customRangeLabel: 'Custom',
                            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                            firstDay: 1
                        }
                    };
                    $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
                    $('#reportrange').daterangepicker(optionSet1, cb);
                    $('#reportrange').on('show.daterangepicker', function () {
                        console.log("show event fired");
                    });
                    $('#reportrange').on('hide.daterangepicker', function () {
                        console.log("hide event fired");
                    });
                    $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
                        console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
                    });
                    $('#reportrange').on('cancel.daterangepicker', function (ev, picker) {
                        console.log("cancel event fired");
                    });
                    $('#options1').click(function () {
                        $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
                    });
                    $('#options2').click(function () {
                        $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
                    });
                    $('#destroy').click(function () {
                        $('#reportrange').data('daterangepicker').remove();
                    });
                });
            </script>

        <!-- moris js -->
            <script src="js/moris/raphael-min.js"></script>
            <script src="js/moris/morris.js"></script>
            <script src="js/moris/example.js"></script>
        
        <!-- skycons -->
            <script>
                var icons = new Skycons({
                        "color": "#73879C"
                    }),
                    list = [
                        "clear-day", "clear-night", "partly-cloudy-day",
                        "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                        "fog"
                    ],
                    i;

                for (i = list.length; i--;)
                    icons.set(list[i], list[i]);

                icons.play();
            </script>
            <script>
            
                var opts = {
                    lines: 12, // The number of lines to draw
                    angle: 0, // The length of each line
                    lineWidth: 0.4, // The line thickness
                    pointer: {
                        length: 0.75, // The radius of the inner circle
                        strokeWidth: 0.042, // The rotation offset
                        color: '#1D212A' // Fill color
                    },
                    limitMax: 'false', // If true, the pointer will not go past the end of the gauge
                    colorStart: '#1ABC9C', // Colors
                    colorStop: '#1ABC9C', // just experiment with them
                    strokeColor: '#F0F3F3', // to see which ones work best for you
                    generateGradient: true
                };
                var target = document.getElementById('foo2'); // your canvas element
                var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
                gauge.maxValue = 5000; // set max gauge value
                gauge.animationSpeed = 32; // set animation speed (32 is default value)
                gauge.set(3200); // set actual value
                gauge.setTextField(document.getElementById("gauge-text2"));
            </script>
    <!-- /JAVASCRIPTS -->
</body>

</html>