<%- include layouts/header.ejs %>
      <!-- page content -->
     
      <!-- page content -->
      
      <!-- page content -->
      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>
              Acquisitions stats
                </h3>
            </div>

          </div>
          <div class="clearfix"></div>

          <div class="row">


            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="x_panel" style="width: 1200px; height: 600px;">
                <div class="x_title">
                  <h2>Acquisitions Ratio</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <canvas id="polarArea"></canvas>
                </div>
              </div>
            </div>

          </div>
        </div>


<%- include layouts/footer_3.ejs %>